.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-grey);
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
}
